HELP.md
.gradle
.autoddl
.xcodemap
.DS_Store
build/
.idea
gradle/wrapper/gradle-8.10.2-all.zip
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/

!**/build/

!**/src/test/**/build/


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.fastRequest
*.iws
*.iml
*.ipr
*.zip
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Kotlin ###
.kotlin.intellijPlatform/
.aider*
.intellijPlatform
/.kotlin
/buildSrc/.kotlin
/checkouts/metaprogramming-lsi/lsi-core/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab.keystream.len
